## ***Conecting to PostgreSQL database***

In [1]:
import psycopg2
import pandas as pd

### **Conection**

In [ ]:
conection = psycopg2.connect(host = 'localhost', database = 'ClientesWBK', user = 'postgres', password = 'VaioMassato201301#', port = 5432)

### **Creating cursors for each category**

In [64]:
cursor_clients = conection.cursor()
cursor_credits = conection.cursor()
cursor_jobs = conection.cursor()
cursor_marital_state = conection.cursor()
cursor_fiador = conection.cursor()
cursor_housing = conection.cursor()
cursor_history_credits = conection.cursor()
cursor_investments = conection.cursor()
cursor_otherfinanc = conection.cursor()
cursor_profession = conection.cursor()
cursor_purpose = conection.cursor()

query_clients = 'select * from clientes'
query_credits = 'select * from credito'
query_jobs = 'select * from emprego'
query_marital_state = 'select * from estadocivil'
query_fiador = 'select * from fiador'
query_housing = 'select * from habitacao'
query_history_credits = 'select * from historico_credito'
query_investments = 'select * from investimentos'
query_otherfinanc = 'select * from outrosfinanc'
query_profession = 'select * from profissao'
query_purpose = 'select * from proposito'

cursor_clients.execute(query_clients)
cursor_credits.execute(query_credits)
cursor_jobs.execute(query_jobs)
cursor_marital_state.execute(query_marital_state)
cursor_fiador.execute(query_fiador)
cursor_housing.execute(query_housing)
cursor_history_credits.execute(query_history_credits)
cursor_investments.execute(query_investments)
cursor_otherfinanc.execute(query_otherfinanc)
cursor_profession.execute(query_profession)
cursor_purpose.execute(query_purpose)

### **Records**

In [65]:
# Training data
records_clients = cursor_clients.fetchall()
records_credits = cursor_credits.fetchall()

# Testing data
records_jobs = cursor_jobs.fetchall()
records_marital_state = cursor_marital_state.fetchall()
records_fiador = cursor_fiador.fetchall()
records_housing = cursor_housing.fetchall()
records_history_credits = cursor_history_credits.fetchall()
records_investments = cursor_investments.fetchall()
records_otherfinanc = cursor_otherfinanc.fetchall()
records_profession = cursor_profession.fetchall()
records_purpose = cursor_purpose.fetchall()

In [99]:
print(f'''
========================= TRAINING DATA =========================
CLIENTS: {records_clients[0]}\n
CREDITS: {records_credits[0]}\n
=================================================================

========================= TESTING DATA ==========================
JOBS: {records_jobs[0]}\n
MARITAL STATE: {records_marital_state[0]}\n
FIADOR: {records_fiador[0]}\n
HOUSING: {records_housing[0]}\n
CREDITS HISTORY: {records_history_credits[0]}\n
INVESTIMENTS: {records_investments[0]}\n
OTHER FINANC: {records_otherfinanc[0]}\n
PROFESSION: {records_profession[0]}\n
PORPOSE: {records_purpose[0]}\n
================================================================
''')

========================= TRAINING DATA =========================
CLIENTS: (1, 'Adelina Buenaventura', 'RJ', 'M')

CREDITS: (2, 48, 2, 1, 5951, 2, 3, 2, 1, 3, 2, 22, 3, 1, 1, 4, 1, 0, 0, 0)

=================================================================

========================= TESTING DATA ==========================
JOBS: (1, '<1')

MARITAL STATE: (1, 'feminino div/dep/cas')

FIADOR: (1, 'co aplicante')

HOUSING: (1, 'proria')

CREDITS HISTORY: (1, 'Critico-outros creditos')

INVESTIMENTS: (1, 'Desconhecido\n')

OTHER FINANC: (1, 'banco')

PROFESSION: (1, 'altamente qualificado/empresario')

PORPOSE: (1, 'reforma')

================================================================

### **Creating the DataFrame**

In [102]:
records_credits[0]

(2, 48, 2, 1, 5951, 2, 3, 2, 1, 3, 2, 22, 3, 1, 1, 4, 1, 0, 0, 0)

In [103]:
client = [records_clients[i][1] for i in range(250)]
state = [records_clients[i][2] for i in range(250)]
sex = [records_clients[i][3] for i in range(250)]
duratin = [records_credits[i][0] for i in range(250)]
credit_history = [records_clients[i][1] for i in range(250)]
purpose = [records_credits[i][2] for i in range(250)]
value = [records_credits[i][3] for i in range(250)]
investment = [records_credits[i][4] for i in range(250)]
job = [records_credits[i][5] for i in range(250)]
installment_time = [records_credits[i][6] for i in range(250)] # parcelamento
marital_state = [records_credits[i][7] for i in range(250)]
fiador = [records_credits[i][8] for i in range(250)]
residence_since = [records_credits[i][9] for i in range(250)]
age = [records_credits[i][10] for i in range(250)]
other_finance = [records_credits[i][11] for i in range(250)]
housing = [records_credits[i][12] for i in range(250)]
existing_loan = [records_credits[i][13] for i in range(250)] # emprestimo
profession = [records_credits[i][14] for i in range(250)]
dependents = [records_credits[i][15] for i in range(250)]
socio_company = [records_credits[i][16] for i in range(250)]
foreign = [records_credits[i][17] for i in range(250)]
status = [records_credits[i][18] for i in range(250)]

data = {
    'Client' : client,
    'State' : state,
    'Sex' : sex,
    'Purpose' : purpose,
    'Value' : value,
    'Investment' : investment,
    'Job' : job,
    'InstallmentTime' : installment_time,
    'MaritalState' : marital_state,
    'Fiador' : fiador,
    'EesidenceSince' : residence_since,
    'Age' : age,
    'OtherFinance' : other_finance,
    'Housing' : housing,
    'ExistingLoan' : existing_loan,
    'Profession' : profession,
    'Dependents' : dependents,
    'SocioCompany' : socio_company,
    'Foreign' : foreign,
    'Status' : status
}

df = pd.DataFrame(data)
df

,Client,State,Sex,Purpose,Value,Investment,Job,InstallmentTime,MaritalState,Fiador,EesidenceSince,Age,OtherFinance,Housing,ExistingLoan,Profession,Dependents,SocioCompany,Foreign,Status
0,Adelina Buenaventura,RJ,M,2,1,5951,2,3.0,2,1,3,2.0,22,3,1.0,1,4,1,0,0
1,Adelino Gago,RJ,M,1,2,2096,2,4.0,2,4,3,3.0,49,3,1.0,1,3,2,0,0
2,Adélio Lisboa,SE,M,2,3,7882,2,4.0,2,4,4,4.0,45,3,2.0,1,4,2,0,0
3,Adérito Bahía,MA,M,3,4,4870,2,3.0,3,4,3,4.0,53,3,2.0,2,4,2,0,0
4,Adolfo Patrício,PE,M,2,2,9055,1,3.0,2,4,3,4.0,35,3,2.0,1,3,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Jandaíra Albuquerque,SP,F,2,3,2030,1,4.0,2,4,3,1.0,24,3,1.0,1,4,1,1,0
246,Joana Ataí,GO,F,3,1,7418,1,3.0,1,4,3,1.0,27,3,1.0,1,3,1,0,0
247,Joaquim Hurtado,AP,M,1,1,2684,2,3.0,4,4,3,2.0,35,3,1.0,2,3,1,0,0
248,Joaquim Mieiro,TO,M,5,1,2149,2,3.0,4,2,3,1.0,29,3,2.0,1,4,1,0,0
249,Joaquina Vasconcelos,SC,F,2,5,3812,5,1.0,1,1,3,4.0,23,3,1.0,1,4,1,1,0

### **Exporting DataFrame to a CSV file**

In [110]:
df.to_csv('C:\\Users\\massa\\Desktop\\!Important\\WBK\\scripts\\WBKClients.csv', index = False)

## ***Ending conections***

In [62]:
cursor_clients.close()
conection.close()

### **IGNORE**

In [ ]:
# client = [records_clients[i][1] for i in range(250)]
# state = [records_clients[i][2] for i in range(250)]
# sex = [records_clients[i][3] for i in range(250)]
# marital_state = [records_marital_state[i][1] for i in range(250)]
# housing = [records_housing[i][1] for i in range(250)]
# job = [records_jobs[i][1] for i in range(250)]
# profession = [records_profession[i][1] for i in range(250)]
# purpose = [records_purpose[i][1] for i in range(250)]
# fiador = [records_fiador[i][1] for i in range(250)]
# investment = [records_investments[i][1] for i in range(250)]
# otherFinancing = [records_otherfinanc[i][1] for i in range(250)]
# creditHistory = [records_history_credits[i][1] for i in range(250)]

# data = {
#     'client' : client,
#     'state' : state,
#     'sex' : sex,
#     'marital_state' : marital_state,
#     'housing' : housing,
#     'job' : job,
#     'profession' : profession,
#     'purpose' : purpose,
#     'fiador' : fiador,
#     'investment' : investment,
#     'otherFinancing' : otherFinancing,
#     'creditHistory' : creditHistory
# }

# df = pd.DataFrame(data)
# df